#mainBox{

    background-color: white;
}

#visBox{

    background-color:white;
}

#copyright{
    padding-top:20px;
    text-align:center;
    vertical-align:middle;
}

.footer{
    position:fixed;
    left:0;
    bottom:0;
    height:80px;
    width:100%;
    background-color:rgb(170, 169, 169);
    color:white;
    text-align:center;
}

