#compareBox{
    background-color:white;
    padding-bottom:30px;
}

#copyright{
    padding-top:13px;
    text-align:center;
    vertical-align:middle;
}

.footer{
    position:fixed;
    bottom:0;
    height:50px;
    width:100%;
    background-color:rgb(170, 169, 169);
    color:white;
    text-align:center;
}